## CA 2 - Review of Agriculture in Ireland

### Organic food production

Source = Eurostat

In [1]:
# Importing the libraries

# libraries for graphics
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(color_codes=True)


# create tables
from tabulate import tabulate

#graphics for calculations
import numpy as np
import pandas as pd


# libraries for analysis
import datetime 
import statistics
from scipy.stats import binom
from scipy.stats import poisson
import pylab
from scipy import stats

### Step 1 - Import and view the dataframe

In [2]:
# Step 1 - import the dataframe

Organic_food_df = pd.read_csv("Datasets/org_aprod_linear.csv")

In [3]:
# view the shape of the dataframe

Organic_food_df.shape

(3935, 9)

In [4]:
# view the first lines of the dataframe

Organic_food_df.head()

,DATAFLOW,LAST UPDATE,freq,agriprod,unit,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG
0,ESTAT:ORG_APROD(1.0),02/12/22 23:00:00,A,B0010,T,BE,2016,5502.0,NaN
1,ESTAT:ORG_APROD(1.0),02/12/22 23:00:00,A,B0010,T,BE,2017,7321.0,NaN
2,ESTAT:ORG_APROD(1.0),02/12/22 23:00:00,A,B0010,T,BE,2018,8708.0,NaN
3,ESTAT:ORG_APROD(1.0),02/12/22 23:00:00,A,B0010,T,BE,2019,9601.0,NaN
4,ESTAT:ORG_APROD(1.0),02/12/22 23:00:00,A,B0010,T,BE,2020,10364.0,NaN

In [ ]:
# Show the columns of the dataframe and count of values therein

Organic_food_df.count()

In [ ]:
# display the 

Organic_food_df.info()

#### Exploring the Contents of the Dataframe

In [ ]:
# check for duplicate rows of data

duplicate_rows_df = Organic_food_df[Organic_food_df.duplicated()]

print("Number of duplicate rows in the dataframe: ", duplicate_rows_df.shape)

In [ ]:
# Check for null values in the dataframe 

print(Organic_food_df.isnull().sum())

In [ ]:
# count the unique values in the each column of the datafram

Organic_food_df.nunique()

In [ ]:
# count unique 'agriprod' values, grouped by geo (country)

Organic_food_df.groupby('agriprod')['geo'].nunique()

In [ ]:
# count unique 'agriprod' values, grouped by geo (country)

Organic_food_df.groupby('geo')['agriprod'].nunique()

In [ ]:
sns.pairplot(Organic_food_df, hue="geo");

In [ ]:
sns.pairplot(Organic_food_df, hue="agriprod");

#### Data Preparation

Actions carried out based on table 1 in accompanying word report.

In [5]:
org_food_df = Organic_food_df.drop(['DATAFLOW', 'LAST UPDATE', 'freq', 'OBS_FLAG'], axis=1)

In [6]:
org_food_df

     agriprod unit geo  TIME_PERIOD  OBS_VALUE
0       B0010    T  BE         2016     5502.0
1       B0010    T  BE         2017     7321.0
2       B0010    T  BE         2018     8708.0
3       B0010    T  BE         2019     9601.0
4       B0010    T  BE         2020    10364.0
...       ...  ...  ..          ...        ...
3930    D9910    T  TR         2017      392.0
3931    D9910    T  TR         2018      495.0
3932    D9910    T  TR         2019      577.0
3933    D9910    T  TR         2021     1221.0
3934    D9910    T  UK         2019        0.0

[3935 rows x 5 columns]

In [ ]:
sns.pairplot(org_food_df)

In [ ]:
# rename columns for easier analysis
    #org_food_df['agriprod'] = org_food_df['agriprod'].replace(['D1100A','D1110A','D1120A','D1130A','D1140A','D2100','D2200','D4100','D6100','D7100','D9500'], 'Dairy')
    
#org_food_df({agriprod:{
#        'D1100A','D1110A','D1120A','D1130A','D1140A','D2100','D2200','D4100','D6100','D7100','D9500':'Dairy', 
#        'D8000H':'Eggs', 
#        'D9910':'Honey', 
#        'B8000','B9000','B3100','B4100','B4200','B5000','B7000','B7100','B0010','B1000':'Meat'
#    } 
#                })

In [7]:
# replace values

values_to_be_replaced = {
    'D1100A':'Dairy', 
    'D1110A':'Dairy', 
    'D1120A':'Dairy', 
    'D1130A':'Dairy', 
    'D1140A':'Dairy', 
    'D2100':'Dairy', 
    'D2200':'Dairy', 
    'D4100':'Dairy', 
    'D6100':'Dairy', 
    'D7100':'Dairy', 
    'D9500':'Dairy', 
    'D8000H':'Eggs', 
    'D9910':'Honey', 
    'B1000':'Meat',
    'B0010':'Meat',
    'B8000':'Meat',
    'B9000':'Meat',
    'B3100':'Meat',
    'B4100':'Meat',
    'B4200':'Meat',
    'B5000':'Meat',
    'B7000':'Meat',
    'B7100':'Meat',
     }

In [8]:

org_food_df['agriprod'] = org_food_df['agriprod'].map(values_to_be_replaced)

org_food_df

     agriprod unit geo  TIME_PERIOD  OBS_VALUE
0        Meat    T  BE         2016     5502.0
1        Meat    T  BE         2017     7321.0
2        Meat    T  BE         2018     8708.0
3        Meat    T  BE         2019     9601.0
4        Meat    T  BE         2020    10364.0
...       ...  ...  ..          ...        ...
3930    Honey    T  TR         2017      392.0
3931    Honey    T  TR         2018      495.0
3932    Honey    T  TR         2019      577.0
3933    Honey    T  TR         2021     1221.0
3934    Honey    T  UK         2019        0.0

[3935 rows x 5 columns]

In [9]:
df3=org_food_df.query("agriprod == 'Dairy'")

In [10]:
df3

     agriprod unit geo  TIME_PERIOD  OBS_VALUE
1340    Dairy    T  AT         2014   443486.0
1341    Dairy    T  AT         2015   440924.0
1342    Dairy    T  AT         2016   552389.0
1343    Dairy    T  AT         2017   612629.0
1344    Dairy    T  AT         2018   635751.0
...       ...  ...  ..          ...        ...
3797    Dairy    T  TR         2014        0.0
3798    Dairy    T  TR         2015        3.0
3799    Dairy    T  TR         2016        0.0
3800    Dairy    T  TR         2017        0.0
3801    Dairy    T  TR         2018        0.0

[2200 rows x 5 columns]

In [11]:
org_food_df.agriprod.unique()

array(['Meat', 'Dairy', 'Eggs', 'Honey'], dtype=object)

In [12]:
org_food_df.groupby('agriprod')['geo'].nunique()

agriprod
Dairy    33
Eggs     33
Honey    24
Meat     31
Name: geo, dtype: int64

## One Hot Encoding

In [13]:
df2 = org_food_df

In [14]:
from sklearn.preprocessing import OneHotEncoder

In [15]:
#creating instance of one-hot-encoder
encoder = OneHotEncoder(handle_unknown='ignore')

In [16]:
#perform one-hot encoding on the 'agriprod' column 

encoder_df = pd.DataFrame(encoder.fit_transform(df2[['agriprod']]).toarray())

In [17]:
#merge one-hot encoded columns back with original DataFrame

final_df = df2.join(encoder_df)

In [18]:
#view final df

print(final_df)

     agriprod unit geo  TIME_PERIOD  OBS_VALUE    0    1    2    3
0        Meat    T  BE         2016     5502.0  0.0  0.0  0.0  1.0
1        Meat    T  BE         2017     7321.0  0.0  0.0  0.0  1.0
2        Meat    T  BE         2018     8708.0  0.0  0.0  0.0  1.0
3        Meat    T  BE         2019     9601.0  0.0  0.0  0.0  1.0
4        Meat    T  BE         2020    10364.0  0.0  0.0  0.0  1.0
...       ...  ...  ..          ...        ...  ...  ...  ...  ...
3930    Honey    T  TR         2017      392.0  0.0  0.0  1.0  0.0
3931    Honey    T  TR         2018      495.0  0.0  0.0  1.0  0.0
3932    Honey    T  TR         2019      577.0  0.0  0.0  1.0  0.0
3933    Honey    T  TR         2021     1221.0  0.0  0.0  1.0  0.0
3934    Honey    T  UK         2019        0.0  0.0  0.0  1.0  0.0

[3935 rows x 9 columns]

In [21]:
# rename columns '0', '1', 2' and '3'

final_df.rename(columns = {'0':'Dairy', '1':'Eggs', '2':'Honey', '3':'Meat'}, inplace = True )

In [26]:
#final_df.to_csv('Datasets/org_ds.csv')