## CA 2 - Review of Agriculture in Ireland

### Organic food production

Source = Eurostat

In [2]:
# Importing the libraries

# libraries for graphics
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(color_codes=True)


# create tables
from tabulate import tabulate

#graphics for calculations
import numpy as np
import pandas as pd


# libraries for analysis
import datetime 
import statistics
from scipy.stats import binom
from scipy.stats import poisson
import pylab
from scipy import stats

In [4]:
# Step 1 - import the dataframe

Organic_food_df = pd.read_csv("Datasets/org_aprod_linear.csv")

In [5]:
Organic_food_df.shape

(3935, 9)

In [6]:
Organic_food_df.head()

,DATAFLOW,LAST UPDATE,freq,agriprod,unit,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG
0,ESTAT:ORG_APROD(1.0),02/12/22 23:00:00,A,B0010,T,BE,2016,5502.0,NaN
1,ESTAT:ORG_APROD(1.0),02/12/22 23:00:00,A,B0010,T,BE,2017,7321.0,NaN
2,ESTAT:ORG_APROD(1.0),02/12/22 23:00:00,A,B0010,T,BE,2018,8708.0,NaN
3,ESTAT:ORG_APROD(1.0),02/12/22 23:00:00,A,B0010,T,BE,2019,9601.0,NaN
4,ESTAT:ORG_APROD(1.0),02/12/22 23:00:00,A,B0010,T,BE,2020,10364.0,NaN

In [7]:
Organic_food_df.count()

DATAFLOW       3935
LAST UPDATE    3935
freq           3935
agriprod       3935
unit           3935
geo            3935
TIME_PERIOD    3935
OBS_VALUE      3728
OBS_FLAG        367
dtype: int64

In [8]:
Organic_food_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3935 entries, 0 to 3934
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   DATAFLOW     3935 non-null   object
 1   LAST UPDATE  3935 non-null   object
 2   freq         3935 non-null   object
 3   agriprod     3935 non-null   object
 4   unit         3935 non-null   object
 5   geo          3935 non-null   object
 6   TIME_PERIOD  3935 non-null   int64
 7   OBS_VALUE    3728 non-null   float64
 8   OBS_FLAG     367 non-null    object
dtypes: float64(1), int64(1), object(7)
memory usage: 276.8+ KB

In [10]:
# check for duplicate rows of data

duplicate_rows_df = Organic_food_df[Organic_food_df.duplicated()]
print("Number of duplicate rows in the dataframe: ", duplicate_rows_df.shape)

Number of duplicate rows in the dataframe:  (0, 9)

In [11]:
print(Organic_food_df.isnull().sum())

DATAFLOW       0.0
LAST UPDATE    0.0
freq           0.0
agriprod       0.0
unit           0.0
geo            0.0
TIME_PERIOD    0.0
OBS_VALUE      0.0
OBS_FLAG       0.0
dtype: float64

In [21]:
# count the Unique values in the each column of the datafram

#Organic_food_df["geo"].value_counts()

#Organic_food_df["unit"].unique()
Organic_food_df.nunique()

DATAFLOW       0
LAST UPDATE    0
freq           0
agriprod       0
unit           0
geo            0
TIME_PERIOD    0
OBS_VALUE      0
OBS_FLAG       0
dtype: int64

In [22]:
#count unique 'agriprod' values, grouped by geo (country)
Organic_food_df.groupby('agriprod')['geo'].nunique()

Series([], Name: geo, dtype: int64)